<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>Yanglin Zhao</title>
  <subtitle>This is my personal blog!</subtitle>
  <link href="https://yanglinzhao.com/feed.xml" rel="self"/>
  <link href="https://yanglinzhao.com.com/"/>
  <updated>{{ collections.posts | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>https://yanglinzhao.com.com/</id>
  <author>
    <name>Yanglin Zhao</name>
    <email>hi@yanglinzhao.com</email>
  </author>
  {%- for post in collections.post %}
  <entry>
    <title>{{ post.data.title }}</title>
  </entry>
  {%- endfor %}
</feed>
