@import "src/styles/vars";
@import "src/styles/funcs";

.BlogPost-title {
  @include vrhythm(6);
  margin-top: $base-line-height * 2rem;
  margin-bottom: $base-line-height * 0.1rem;
  text-align: center;
}

.BlogPost-image {
  width: 100%;

  img {
    width: 100%;
  }
}

.BlogPost-metadata {
  margin-bottom: $base-line-height * 0.1rem;
}

.BlogPost-date {
  color: $color-mono-4;
  display: block;
  text-align: center;

  @include vrhythm(0);
  margin: 0;
  padding: 0;
}

.BlogPost-content {
  p {
    @include vrhythm(0);
  }

  h1 {
    @include vrhythm(5);
  }

  h2 {
    @include vrhythm(4);
  }

  h3 {
    @include vrhythm(3);
    color: $color-mono-6;
  }

  h4 {
    @include vrhythm(2);
    color: $color-mono-6;
  }

  h5 {
    @include vrhythm(1);
  }

  h6 {
    @include vrhythm(0);
  }

  blockquote {
    border-left: 5px solid $color-mono-2;
    margin-left: 0;
    margin-right: 0;
    padding: 0 $base-line-height * 1rem;
  }

  pre {
    @include vrhythm(-1);
    background: #fdf6e3;
    color: #657b83;
    max-width: 100%;
    padding: 16px;
    overflow-x: scroll;
  }

  img {
    width: 100%;
  }
}
