.post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ddd;
  padding: 10px 0;
}

.postTitle {
  flex: auto;
  font-size: var(--theme-font-size-l);
  margin: 0;
  padding: 0 20px;
}

.postDate {
  margin: 0;
  padding: 0;
}

.postDate a {
  font-size: var(--theme-font-size-s);
  color: var(--theme-font-color-mono-xlight);
}

.postThumbnail {
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0px 0px 0px 4px rgba(0, 0, 0, 0.03) inset;
}
