# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Dependency directory
node_modules

# Builds
dist
build

# Build Path of Test Fixtures
test/**/public
.gatsby-context.js
.DS_Store
public/
node_modules/
.cache/
.netlify

# Exceptions
!packages/experiment-activity-pulse/public
