# Project
dist/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directory
node_modules

# Yarn
yarn-error.log
.pnp/
.pnp.js

# Yarn Integrity file
.yarn-integrity

# Gatsby files
.cache/
public

# Cypress
cypress/screenshots/

# Sapper
__sapper__/
src/node_modules/@sapper/

# Deployment
.netlify
.vercel
