@import "tailwindcss";

/* See https://tailwindcss.com/docs/upgrade-guide#default-border-color */
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

/* global styles */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* fonts */

body {
  font-family: "Source Serif 4", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-weight: 375;
  font-style: normal;
  font-size: 16px;
  text-rendering: optimizeLegibility;
}

.u-f-mono {
  font-family:
    Menlo,
    Consolas,
    Monaco,
    Liberation Mono,
    Lucida Console,
    monospace;
}

a {
  text-decoration: none;
}
