@import "tailwindcss";

/* See https://tailwindcss.com/docs/upgrade-guide#default-border-color */
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

/* legacy layout */

.l-pad {
  padding-left: 20px;
  padding-right: 20px;
}

.l-vw {
  margin: 0 auto;
}

.l-12-12 {
  margin: 0 auto;
}

.l-8-12 {
  margin: 0 auto;
}

.l-6-12 {
  margin: 0 auto;
}

/* https://tailwindcss.com/docs/screens */
@media (min-width: 768px) {
  .l-pad {
    padding-left: 0;
    padding-right: 0;
  }

  .l-12-12 {
    max-width: 1340px;
  }

  .l-8-12 {
    max-width: 886px;
  }

  .l-6-12 {
    max-width: 660px;
  }
}

/* new layout */

.u-l-contain {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

/* https://tailwindcss.com/docs/screens */
@media (min-width: 768px) {
  .u-l-contain {
    max-width: 980px;
  }
}
