@import "tailwindcss";

/* See https://tailwindcss.com/docs/upgrade-guide#default-border-color */
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

/* post layout */

.entry-content > * {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .entry-content > * {
    padding-left: 0;
    padding-right: 0;
    max-width: 660px;
  }
}

.entry-content > .full-width {
  width: 100%;
  max-width: none;
  margin-left: none;
  margin-right: none;
}

/* posts styles */

.entry-content a {
  color: #84cc16;
}

.entry-content {
  @apply text-gray-800 leading-8;
}

.entry-content ul,
.entry-content ol {
  @apply pl-7 py-2 text-lg;
}

.entry-content li {
  list-style: square;
  @apply py-1;
}

.entry-content .astro-code {
  @apply my-3 px-5 py-4;
}

.entry-content pre {
  overflow-x: scroll;
}
