@import "styles/vars";

.BlogPost-metadata {
  margin: $space-3 0;
}

.BlogPost-title {
  text-align: center;
  line-height: 1;
  margin: 0 0 12px;
  font-size: $fontsize-5;

  @media (min-width: $break-2) {
    font-size: $fontsize-6;
  }
}

.BlogPost-date {
  color: $color-mono-4;
  display: block;
  text-align: center;
  font-size: $fontsize-1;

  @media (min-width: $break-2) {
    font-size: $fontsize-2;
  }
}

.BlogPost-content {
  font-size: $fontsize-2;

  @media (min-width: $break-2) {
    font-size: $fontsize-3;
  }
}

.BlogPost-content p:first-child {
  margin-top: 0;
}

.BlogPost-content p > code {
  font-size: $fontsize-1;

  @media (min-width: $break-2) {
    font-size: $fontsize-2;
  }
}

.BlogPost-content blockquote {
  border-left: 5px solid $color-mono-2;
  margin: $space-2 0;
  padding: $space-1 / 2 $space-2;
}

.BlogPost-content blockquote p:last-child {
  margin-bottom: 0;
}

.BlogPost-content pre {
  font-size: $fontsize-1;
  overflow-x: scroll;
  max-width: 100%;

  @media (min-width: $break-2) {
    font-size: $fontsize-2;
  }
}
