<div class="bg-green-50 py-8 md:py-16 lg:py-28">
  <div class="l-base">
    <div class="gap-4 grid-cols-6 md:grid">
      <div class="md:col-span-4 md:col-start-2">
        <p
          class="m-0 text-black text-2xl font-bold tracking-tight leading-normal md:text-4xl md:leading-normal lg:text-7xl lg:leading-normal"
        >
          Yanglin Zhao
        </p>

        <p
          class="m-0 text-black text-2xl font-bold tracking-tight leading-normal md:text-4xl md:leading-normal lg:text-7xl lg:leading-normal"
        >
          Software Engineer
        </p>
      </div>
    </div>
  </div>
</div>

<div class="py-24 border-b border-gray-200">
  <div class="l-base">
    <div class="gap-4 grid-cols-6 md:grid">
      <div class="md:col-span-4 md:col-start-2">
        <p
          class="m-0 text-black text-2xl tracking-tight leading-normal md:text-4xl md:leading-normal lg:text-4xl lg:leading-normal"
        >
          Hi there, my name is Yanglin. I'm a Software Engineer working on Web
          stuff at Addepar.
        </p>
      </div>
    </div>
  </div>
</div>
