<div class="py-16 lg:py-28">
  <div class="l-wide">
    <p
      class="m-0 text-gray-900 text-5xl font-bold leading-none md:text-6xl lg:text-8xl"
    >
      Hello,
    </p>

    <h1
      class="m-0 mt-5 w-4/5 text-gray-900 text-2xl leading-normal md:text-4xl md:leading-normal lg:mt-7 lg:text-5xl lg:leading-normal"
    >
      I'm Yanglin Zhao - I'm a software engineer based in Washington DC. I
      mainly make things that run in browsers. I currently work at
      <a href="https://www.pbs.org/">PBS</a> as a Principal Engineer to help
      make high quality media accessible.
    </h1>
  </div>
</div>
