<div class="py-12 bg-green-50 md:py-14 lg:py-16">
  <div class="l-base">
    <div class="gap-4 grid-cols-6 md:grid">
      <div class="md:col-span-4 md:col-start-2">
        <p
          class="text-black text-3xl font-bold tracking-tight leading-normal md:text-5xl lg:text-5xl"
        >
          Yanglin Zhao
        </p>

        <p
          class="text-green-500 text-3xl font-bold tracking-tight md:text-5xl md:leading-normal lg:text-5xl lg:leading-normal"
        >
          Software Engineer
        </p>
      </div>
    </div>
  </div>
</div>

<div class="py-10 border-b border-gray-150 md:py-12 lg:py-14">
  <div class="l-base">
    <div class="gap-4 grid-cols-6 md:grid">
      <div class="md:col-span-4 md:col-start-2">
        <p
          class="m-0 text-black text-xl tracking-tight leading-normal md:text-2xl md:leading-normal lg:text-3xl lg:leading-normal"
        >
          Hi there, my name is Yanglin. I'm a Software Engineer working on Web
          stuff at <a href="https://addepar.com">Addepar</a>.
        </p>
      </div>
    </div>
  </div>
</div>
