{% extends "TemplateBase.njk" %}

{% block head %}
  <title>Yanglin Zhao</title>
  <meta name="description" content="I'm a software engineer and I make things that run in browsers. Come check out my thoughts on programming and technology.">
  <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">

  <meta property="og:title" content="Yanglin Zhao">
  <meta property="og:type" content="I'm a software engineer and I make things that run in browsers. Come check out my thoughts on programming and technology.">
  <meta property="og:url" content="https://yanglinzhao.com/">
  <meta property="og:image" content="">
{% endblock %}

{% block body %}
  <div class="min-h-screen flex flex-col">
    <div>
      {% include "./FragmentHeader.html" %}
    </div>

    <div class="grow flex items-center">
      {% include "./FragmentIndexIntro.html" %}
    </div>

    <div class="absolute inset-0 h-screen" style="opacity: 0.99; z-index: -1">
      {% include "./FragmentIndexScene.html" %}
      {# {% include "./FragmentIndexSceneLight.html" %} #}
    </div>
  </div>

  <div class="py-7 lg:py-9 bg-gray-100">
    <div class="l-wide">
      <h2 class="pb-5 text-gray-500 text-xl font-bold lg:pb-7 lg:text-3xl">
        Blog Posts
      </h2>

      <ul>
        {%- for post in collections.post | reverse -%}
          <li class="border-gray-150 flex items-center justify-between py-3 border-t lg:py-4">
            <div class="flex-initial"></div>

            <h3 class="flex-1 py-3">
              <a href="{{ post.url }}" class="text-xl font-bold lg:text-3xl">{{ post.data.title }}</a>
            </h3>

            <p class="flex-initial">
              <a href="{{ post.url }}" class="text-gray-400 font-mono text-sm">
                <time>{{ post.data.date | formattedDate }}</time>
              </a>
            </p>
          </li>
        {%- endfor -%}
      </ul>
    </div>
  </div>

  {% include "./FragmentFooter.html" %}
{% endblock %}
