{% extends "TemplateBase.njk" %}

{% block head %}
  <title>Yanglin Zhao</title>
  <meta name="description" content="">
  <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">
{% endblock %}

{% block body %}
  <ul>
  {%- for post in collections.post -%}
    <li><a href="{{ post.url }}">{{ post.data.title }}</a></li>
  {%- endfor -%}
  </ul>
{% endblock %}
