<!doctype html>
<html lang=en>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/site.webmanifest" rel="manifest">
  <meta name="theme-color" content="#84cc16">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,200;0,300;1,200;1,300&display=swap" rel="stylesheet"> 
  <link href="/main.css" rel="stylesheet">

  {% block head %}{% endblock %}

  <script defer data-domain="yanglinzhao.com" src="https://plausible.io/js/plausible.js"></script>
</head>
<body>
  {% block body %}{% endblock %}

  <script defer src="/main.js"></script>
</body>
</html>
