<!doctype html>
<html lang=en>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block head %}{% endblock %}
 </head>
<body>
  <div className="Header border-gray-150 py-8 border-b">
    <div className="l-wide">
      <div>
        <h1 className="m-0 text-base leading-snug">
          <a href="/" className="text-gray-900">Yanglin Zhao</a>
        </h1>
        <p className="m-0 text-gray-500 text-base leading-snug">
          hi (at) yanglinzhao.com
        </p>
      </div>
    </div>
  </div>

  {% block body %}{% endblock %}
</body>
</html>
