@import "styles/vars";
@import "styles/funcs";

.Section {
  margin-top: $base-line-height * 0.25rem;
}

.Section-title {
  color: $color-mono-4;
  @include vrhythm(2);

  @media (min-width: $break-2) {
    @include vrhythm(3);
  }
}

.About-text {
  color: $color-mono-9;
  max-width: 42rem;

  @include vrhythm(1);
  padding-top: 0;

  @media (min-width: $break-2) {
    @include vrhythm(2);
    padding-top: 0;
  }
}
