@function pow($number, $exponent) {
  $value: 1;

  @if $exponent > 0 {
    @for $i from 1 through $exponent {
      $value: $value * $number;
    }
  }
  @if $exponent < 0 {
    @for $i from 1 through abs($exponent) {
      $value: $value / $number;
    }
  }

  @return $value;
}

@function fsize($factor) {
  $ratio-sm: 1.15;
  $ratio-lg: 1.3;
  $base-size: 14px;

  @if $factor < 5 {
    @return $base-size * pow($ratio-sm, $factor);
  }

  @return $base-size * pow($ratio-lg, $factor);
}
