// media query breakpoints
$break-1: 320px;
$break-2: 760px;
$break-3: 1224px;

// colors
// https://www.colorbox.io/#steps=5#hue_start=55#hue_end=235#hue_curve=easeInQuad#sat_start=5#sat_end=80#sat_curve=easeOutQuad#sat_rate=120#lum_start=100#lum_end=30#lum_curve=easeOutQuad
$color-1: #fffef0;
$color-2: #f7f9b7;
$color-3: #e4f482;
$color-4: #68d635;
$color-5: #0f9d74;
$color-6: #03094d;

$color-mono-1: #f0f4f8;
$color-mono-2: #d9e2ec;
$color-mono-3: #bcccdc;
$color-mono-4: #9fb3c8;
$color-mono-5: #829ab1;
$color-mono-6: #627d98;
$color-mono-7: #486581;
$color-mono-8: #334e68;
$color-mono-9: #243b53;
$color-mono-10: #243b53;
