// media query breakpoints

$break-1: 320px;
$break-2: 760px;
$break-3: 1224px;

// spacing

$space-1: 20px;
$space-2: 35px;
$space-3: 50px;

// modular scale
// https://www.modularscale.com/?20&px&1.141

$fontsize-1: 14px;
$fontsize-2: 16px;
$fontsize-3: 20px;
$fontsize-4: 28px;
$fontsize-5: 40px;
$fontsize-6: 56px;
$fontsize-7: 80px;

// colors
// https://www.colorbox.io/#steps=5#hue_start=125#hue_end=204#hue_curve=easeInQuad#sat_start=5#sat_end=100#sat_curve=easeOutQuad#sat_rate=130#lum_start=100#lum_end=50#lum_curve=easeOutQuad

$color-1: #eefff0;
$color-2: #5bf377;
$color-3: #00d459;
$color-4: #009985;
$color-5: #002945;
