@import "src/styles/vars";
@import "src/styles/funcs";

// typography

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, "Inter",
    "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  line-height: $base-line-height;

  @media (min-width: $break-3) {
    font-size: 18px;
  }
}

body {
  color: #222;
}

a {
  color: $color-4;
  text-decoration: none;
}

.f-mono {
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console",
    "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono",
    "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier,
    monospace;
}

// global

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

// layout

.l-wide {
  padding: 0 20px;
  margin: 0 auto;
  overflow-y: hidden;

  @media (min-width: $break-3) {
    max-width: 1440px;
  }
}

.l-narrow {
  max-width: 520px;
  padding: 0 20px;
  margin: 0 auto;
  overflow-y: hidden;

  @media (min-width: $break-2) {
    max-width: 660px;
  }
}
