@import "~normalize.css/normalize.css";
@import "~tachyons/css//tachyons.css";

/* globals */

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* layouts */

body {
  margin: 0;
  padding: 0;
}

.l-wrapper {
  padding: 0 40px;
}

.l-inner {
  width: 100%;
  margin: 0 auto;
  max-width: 1280px;
}

.l-inner-narrow {
  width: 100%;
  margin: 0 auto;
  max-width: 980px;
}

/* basic theme */

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #222;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  background: #efefef;
}

/* utilities */

.f-serif {
  font-family: Cambria, "Hoefler Text", Utopia, "Liberation Serif",
    "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;
}

.f-sans {
  font-family: Arial, Helvetica, sans-serif;
}

.f-wb {
  font-weight: bold;
}

.f-wn {
  font-weight: normal;
}
