@import "~normalize.css/normalize.css";
@import "~tachyons/css//tachyons.css";

/* globals */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

/* layouts */

.l-wrapper {
  padding: 0 40px;
}

.l-inner {
  width: 100%;
  margin: 0 auto;
  max-width: 1280px;
}

.l-inner-narrow {
  width: 100%;
  margin: 0 auto;
  max-width: 980px;
}

.l-spacing {
  margin-top: 29px;
  margin-bottom: 14px;
}

.l-spacing-narrow {
  margin-top: 29px;
  margin-bottom: 14px;
}
