:root {
  /* font sizes */
  --theme-font-size-x5l: 76px;
  --theme-font-size-x4l: 61px;
  --theme-font-size-xxxl: 48px;
  --theme-font-size-xxl: 39px;
  --theme-font-size-xl: 31px;
  --theme-font-size-l: 25px;
  --theme-font-size-base: 20px;
  --theme-font-size-s: 16px;
  --theme-font-size-xs: 12px;
  --theme-font-size-xxs: 10px;
  --theme-font-size-xxxs: 8px;

  /* font colors */
  --theme-font-color-mono-xdark: #000;
  --theme-font-color-mono-dark: #111;
  --theme-font-color-mono-base: #222;
  --theme-font-color-mono-light: #555;
  --theme-font-color-mono-xlight: #999;
  --theme-font-color-mono-xxlight: #ccc;

  /* background colors */
  --theme-bg-color-main: #fefefe;
}
