body {
  background: #fdf6e3;
  box-sizing: border-box;
  color: #073642;
  font-family:
    Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial,
    sans-serif;
  margin: 0;
}

.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 40px 0;
}

.Indicator {
  position: relative;
  width: 100%;
}

.Indicator-pointer {
  align-items: center;
  color: #657b83;
  display: flex;
  justify-content: center;
  width: 20px;
}

.Cells {
  align-items: center;
  display: flex;
  gap: 2px;
  max-width: 100%;
  padding: 20px;
  padding-top: 5px;
}

.Cells-divider {
  color: #657b83;
}

.Cells-spacer {
  display: inline-block;
  width: 5px;
}

.Cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  font-size: 24px;
}

.Controls {
  display: flex;
  gap: 5px;
}

.Controls button {
  font-size: 16px;
  padding: 10px 20px;
}

@media (min-width: 768px) {
  .App {
    padding: 60px 0;
  }

  .Cells {
    gap: 0;
  }

  .Indicator-pointer {
    width: 30px;
    font-size: 24px;
  }

  .Cells-divider {
    font-size: 24px;
  }

  .Cells-spacer {
    width: 20px;
  }

  .Cell {
    width: 48px;
    height: 48px;
    font-size: 42px;
  }

  .Controls {
    gap: 10px;
  }

  .Controls button {
    font-size: 20px;
    padding: 16px 28px;
  }
}
