@import "src/styles/vars";
@import "src/styles/funcs";

.Header {
  background: #111;
  padding: 1rem * $base-line-height 0;
}

.Header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Header-title,
.Header-subtitle {
  @include vrhythm(-1);
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.Header-title-link {
  color: $color-mono-1;
}

.Header-subtitle {
  color: #666;
  color: rgba(255, 255, 255, 0.4);
}

.Header-links {
  padding-right: 1px;
  opacity: 0.8;
}
