@import "styles/vars";

.Section {
  margin-top: $space-1;

  @media (min-width: $break-2) {
    margin-top: $space-2;
  }
}

.Section-title {
  color: $color-mono-4;
  font-size: $fontsize-3;

  @media (min-width: $break-2) {
    font-size: $fontsize-4;
  }

  @media (min-width: $break-3) {
    font-size: $fontsize-5;
  }
}
