@import "app/vars";

// typography

body {
  color: #222;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.6;
}

a {
  color: $color-3;
  text-decoration: none;
}

// global

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

// layout

.l-wide {
  padding: 0 20px;
  margin: 0 auto;
  overflow-y: hidden;
}

@media (min-width: $break-3) {
  width: 1200px;
}
