@import "app/vars";

.Header {
  background: #111;
  padding: $space-3 0;
}

.Header-title,
.Header-subtitle {
  font-size: $fontsize-1;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
}

@media (min-width: $break-2) {
  .Header-title,
  .Header-subtitle {
    font-size: $fontsize-2;
  }
}

.Header-title-link {
  color: #fff;
}

.Header-subtitle {
  color: #666;
  color: rgba(255, 255, 255, 0.4);
}
