<div class="bg-stone-900 py-14 lg:py-20">
  <div class="l-6-12 l-pad">
    <div class="flex items-center justify-between">
      <div>
        <a href="/">
          <h1 class="m-0 text-base text-white leading-snug">Yanglin Zhao</h1>
          <p class="u-f-serif text-base italic text-stone-400">
            Software Engineer
          </p>
        </a>
      </div>
    </div>
  </div>
</div>
