@import "styles/vars";
@import "styles/funcs";

.Header {
  background: #111;
  padding: $space-2 0;
}

.Header-title,
.Header-subtitle {
  font-size: fsize(0);
  font-weight: 400;
  margin: 0;

  @media (min-width: $break-2) {
    font-size: fsize(1);
  }
}

.Header-title-link {
  color: $color-mono-1;
}

.Header-subtitle {
  color: #666;
  color: rgba(255, 255, 255, 0.4);
}
