@import "styles/vars";
@import "styles/funcs";

.Header {
  background: #111;
  padding: 1rem * $base-line-height 0;
}

.Header-title,
.Header-subtitle {
  @include vrhythm(-1);
  font-weight: 400;
  padding: 0;
  margin: 0;

  @media (min-width: $break-2) {
    @include vrhythm(0);
    padding: 0;
    margin: 0;
  }
}

.Header-title-link {
  color: $color-mono-1;
}

.Header-subtitle {
  color: #666;
  color: rgba(255, 255, 255, 0.4);
}
