.Header {
  overflow: hidden;
  background: #fff;
  border-bottom: 1px solid #ddd;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.Header-l-wrapper {
  display: flex;
  align-items: center;
}

.Header-l-search {
  flex-grow: 1;
  padding: 0 75px;
}

.Brand-inner {
  display: flex;
  align-items: center;
}

.Brand-logo-img {
  height: 75px;
}

.Brand-tag-line {
  margin-left: 25px;
}

.Brand-tag-line span {
  display: block;
  padding: 2px 0;

  font-size: 14px;
  text-align: center;
}

.Brand-tag-mid {
  font-style: italic;
  font-weight: normal;
}

.Links {
  display: flex;
}

.Links-link-github {
  margin-right: 10px;
}

.Links-img {
  height: 18px;
}
