---
interface Props {
  divider?: boolean;
}

let { divider } = Astro.props;

let spacing = divider ? "py-12 lg:py-18" : "py-8 lg:py-10";
---

<div class={spacing}>
  <div class="l-6-12 l-pad">
    {divider ? <div class="border-stone-150 border-t-8" /> : null}
  </div>
</div>
