@import "styles/vars";

.Post {
  margin-bottom: $space-sm-4;

  @media (min-width: $break-2) {
    margin-bottom: $space-sm-4;
    display: flex;
    align-items: center;
  }
}

.Post-title {
  font-size: $fontsize-3;
  margin: 0;

  @media (min-width: $break-2) {
    font-size: $fontsize-4;
    margin-right: 12px;
  }
}

.Post-date {
  margin: 0;
}

.Post-date a {
  color: $color-mono-4;
  font-size: $fontsize-1;
  font-weight: normal;
}
