@import "styles/vars";

.Post {
  display: flex;
  align-items: center;
  margin: $space-sm-4 0;
}

.Post-date {
  margin: 0;
  margin-left: 12px;
}

.Post-date a {
  color: #999;
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console",
    "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono",
    "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier,
    monospace;
  font-size: $fontsize-1;
  font-weight: normal;
}

.Post-title {
  font-size: $fontsize-3;
  margin: 0;

  @media (min-width: $break-2) {
    font-size: $fontsize-4;
  }
}
