<main>
  <article class="article">
    <div class="l-wide">
      <div class="article-metadata">
        <h1 class="article-title">
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </h1>

        <time class="article-date">
          {{ .Date.Format "Jan 2, 2006" }}
        </time>

        {{ if .Params.tags }}
          <ul class="article-tags">
            {{ range $tag := .Params.tags }}
              <li class="article-tags-item">
                <a href="/tags/{{ $tag | urlize }}">#{{ $tag }}</a>
              </li>
            {{ end }}
          </ul>
        {{ end }}
      </div>
    </div>

    {{ if .Params.customBanner }}
      <div class="article-banner">
        {{ $bannerPath := ( printf "content/posts/%s" .Params.customBanner ) }}
        {{ $banner := resources.Get $bannerPath | fingerprint }}
        <img src="{{ $banner.RelPermalink }}" />
      </div>
    {{ end }}

    <div class="l-wide">
      <div class="article-content">{{ .Content }}</div>
    </div>
  </article>
</main>
