<main>
  <article class="article">
    <div class="l-wide">
      <div class="article-title">
        <h1>{{ .Title }}</h1>
      </div>
    </div>

    {{ if .Params.customBanner }}
      <div class="article-banner">
        {{ $bannerPath := ( printf "content/posts/%s" .Params.customBanner ) }}
        {{ $banner := resources.Get $bannerPath | fingerprint }}
        <img src="{{ $banner.RelPermalink }}" />
      </div>
    {{ end }}

    <div class="l-wide">
      <div class="article-metadata">
        <time>{{ .Date.Format "Jan 2, 2006" }}</time>

        {{ if .Params.tags }}
          <ul id="article-tags">
            {{ range $tag := .Params.tags }}
              <li><a href="/tags/{{ $tag | urlize }}">#{{ $tag }}</a> </li>
            {{ end }}
          </ul>
        {{ end }}
      </div>

      <div class="article-content">{{ .Content }}</div>
    </div>
  </article>
</main>
