.header {
  text-transform: uppercase;
  border-bottom: 1px solid #eee;
  background: #fff;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.site-title,
.contact {
  margin: 0;
  font-size: 14px;
}

.site-title-link,
.contact-link {
  font-weight: 900;
  font-style: italic;
}
