.header {
  background: #002945;
  padding: 55px 0 45px;
}

.header-title,
.header-subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
}

.header-title-link {
  color: #fff;
  color: rgba(255, 255, 255, 1);
}

.header-subtitle {
  color: #555;
  color: rgba(255, 255, 255, 0.4);
}
