.header {
  background: #002945;
  padding: 25px 0 22px;
}

.site-title {
  font-size: 16px;
  margin: 0;
  text-transform: uppercase;
}

.site-title-link {
  color: #fff;
  font-weight: 900;
  font-style: italic;
}
