.intro {
  background: #111;
  padding: 0 0 40px;
}

.intro-border-top {
  border-top: 1px solid #333;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  height: 1px;
  width: 100%;
  margin-bottom: 36px;
}

.intro-text{
  color: #fff;
  color: rgba(255, 255, 255, 1);
  font-size: 80px;
  margin: 150px 0 100px;
}
