@tailwind utilities;

/* post layout */

.post-content {
  padding-left: 20px;
  padding-right: 20px;
}

.post-content > * {
  margin-left: auto;
  margin-right: auto;
}

/* 
  this mirrors the layout styes from packages/www/src/main.css
  note that the max-width is _without_ the padding to make the
  content styling more consistent, so it's the max-width found
  on l-base - 2 * padding.
*/
@media (min-width: 768px) {
  .post-content {
    padding-left: 0;
    padding-right: 0;
  }

  .post-content > * {
    max-width: 660px;
  }
}

.post-content > .full-width {
  width: 100%;
  max-width: none;
  margin-left: none;
  margin-right: none;
}

/* posts styles */

.post-content a {
  color: #84cc16;
}

.post-content {
  @apply text-gray-800 leading-8;
}

.post-content ul,
.post-content ol {
  @apply pl-7 py-2 text-lg;
}

.post-content li {
  list-style: square;
  @apply py-1;
}

.post-content .astro-code {
  @apply my-3 px-5 py-4;
}

.post-content pre {
  overflow-x: scroll;
}
