@import "src/styles/vars";
@import "src/styles/funcs";

.Footer {
  padding: 2rem 0 1rem;
}

.Footer-copyright {
  @include vrhythm(-2);
  color: $color-mono-4;
  text-align: center;
}

.Footer-links {
  text-align: center;
}
