@import "src/styles/vars";
@import "src/styles/funcs";

.Intro {
  background: #111;
}

.Intro-border-top {
  border-top: 1px solid #333;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  height: 1px;
  width: 100%;
}

.Intro-text-parent {
  padding: $base-line-height * 2rem 0;

  @media (min-width: $break-2) {
    padding: $base-line-height * 5rem 0;
  }
}

.Intro-text {
  color: $color-mono-1;
  @include vrhythm(8);

  @media (min-width: $break-2) {
    @include vrhythm(10);
  }

  @media (min-width: $break-3) {
    @include vrhythm(12);
  }
}
