@import "src/styles/vars";
@import "src/styles/funcs";

.Post {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: $base-line-height * 0.5rem;
}

.Post-title {
  @include vrhythm(2);
  margin: 0;
  padding: 0;

  @media (min-width: $break-2) {
    @include vrhythm(3);
    margin: 0;
    padding: 0;
  }
}

.Post-date {
  @include vrhythm(-1);
  margin: 0;
  padding: 0;

  @media (min-width: $break-2) {
    @include vrhythm(-1);
    margin: 0;
    padding: 0;
  }
}

.Post-date a {
  color: $color-mono-4;
  font-weight: normal;
}
