@tailwind base;
@tailwind components;
@tailwind utilities;

/* global styles */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* fonts */

body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial,
    sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
}

.f-sans {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial,
    sans-serif;
}

.f-serif {
  font-family: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman,
    Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol;
}

.f-mono {
  font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console,
    monospace;
}

a {
  color: #404040;
  text-decoration: none;
}

/* layout */

.l-container {
  padding: 0 20px;
  margin: 0 auto;
}

.l-wide {
  padding: 0 20px;
  margin: 0 auto;
}

.l-base {
  padding: 0 20px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .l-base {
    max-width: 700px;
  }
}
