/* modular scale */
/* https://www.modularscale.com/?20&px&1.141 */
/* 16px */
/* 20px */
/* 28px */
/* 40px */
/* 56px */
/* 80px */

$fontsize-1: 16px;
$fontsize-2: 20px;
$fontsize-3: 28px;
$fontsize-4: 40px;
$fontsize-5: 56px;
$fontsize-6: 80px;
