/* typography */

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: rgb(25, 139, 247);
}

/* modular scale */
/* https://www.modularscale.com/?20&px&1.141 */
/* 14px */
/* 20px */
/* 28px */
/* 40px */
/* 56px */
/* 80px */

/* layout */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.l-wide {
  width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
  overflow: hidden;
}

/* colors */
/* https://www.colorbox.io/#steps=5#hue_start=125#hue_end=204#hue_curve=easeInQuad#sat_start=5#sat_end=100#sat_curve=easeOutQuad#sat_rate=130#lum_start=100#lum_end=50#lum_curve=easeOutQuad*/
/* #eefff0 */
/* #5bf377 */
/* #00d459 */
/* #009985 */
/* #002945 */
