@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.l-wide {
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: 1224px) {
    max-width: 1440px;
  }
}

.l-narrow {
  max-width: 520px;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: 760px) {
    max-width: 660px;
  }
}

body {
  color: #222;
}

a {
  color: #84cc16;
  text-decoration: none;
}
