@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.l-wide {
  padding: 0 20px;
  margin: 0 auto;
}

@media (min-width: 1224px) {
  .l-wide {
    max-width: 1440px;
  }
}

.l-narrow {
  max-width: 520px;
  padding: 0 20px;
  margin: 0 auto;
}

@media (min-width: 760px) {
  .l-narrow {
    max-width: 660px;
  }
}

a {
  color: #84cc16;
  text-decoration: none;
}

.post-content {
  @apply leading-8;
}

.post-content p {
  @apply py-2 text-lg leading-8 text-gray-800;
}

.post-content h1 {
  @apply py-3 text-gray-800 text-3xl font-bold;
}

.post-content h2 {
  @apply py-3 text-gray-800 text-2xl font-bold;
}

.post-content h3 {
  @apply py-2 text-gray-600 text-xl font-bold;
}

.post-content h4 {
  @apply py-2 text-gray-600 text-xl font-bold;
}

.post-content h5 {
  @apply py-2 text-gray-400 text-lg font-bold;
}

.post-content h6 {
  @apply py-2 text-gray-400 text-lg font-bold;
}

.post-content blockquote {
  @apply mx-0 my-2 pl-6 border-l-8 border-gray-100;
}

.post-content ul,
.post-content ol {
  margin-left: 36px;
}

.post-content li {
  list-style: square;
  padding-bottom: 8px;
}

.post-content pre {
  /* @include vrhythm(-1); */
  background: #fdf6e3;
  color: #657b83;
  max-width: 100%;
  padding: 16px;
  overflow-x: scroll;
}

.post-content pre > pre {
  padding: 0;
  margin: 0;
}

.post-content code {
  font-size: 16px;
}

.post-content img {
  width: 100%;
}

.post-content .full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
