---
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "../layouts/LayoutBase.astro";
import HomeIntro from "../components/HomeIntro.astro";
import HomeEntryList from "../components/HomeEntryList.astro";
import HomeDivider from "../components/HomeDivider.astro";

type EntryList = CollectionEntry<"posts">[] | CollectionEntry<"til">[];

function getSorted(entries: EntryList): EntryList {
  return entries.sort((a, b) => (a.data.date < b.data.date ? 1 : -1));
}

let allPosts = await getCollection("posts");
allPosts = getSorted(allPosts) as CollectionEntry<"posts">[];
let allTil = await getCollection("til");
allTil = getSorted(allTil) as CollectionEntry<"til">[];

const description =
  "Yanglin Zhao is a software engineer based in Washington DC.";
---

<Layout title="Yanglin Zhao" description={description}>
  <main>
    <HomeDivider />
    <HomeIntro />
    <HomeDivider divider />
    <HomeEntryList posts={allPosts} />
    <HomeDivider divider />
    <HomeEntryList til={allTil} />
    <HomeDivider />
  </main>
</Layout>
